html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100dvh;
    max-height: 100vh;
    max-width: 100vw;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    gap: 50px;
    align-items: center;
}

#generate-grid-btn {
    padding: 8px 16px 6px 16px;
    border-radius: 2px;
    transition: background 0.1s;
    font-size: medium;
}

#generate-grid-btn:hover {
    cursor: pointer;
    background: lightgrey;
    transition: background 0.1s;
}

#grid-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 960px;
}

.grid-cell {
    justify-content: center;
    height: auto;
    background-color: lightgray;
    border: 1px solid white;
}

.pixel-hover {
    background-color: #4c4c4c;
}

.transition-in {
    transition-duration: 0s;
}

.transition-out {
    transition-duration: 20s;
    transition-timing-function: ease-in-out;
}