html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

#grid-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 960px;
    height: 960px;
}

.grid-cell {
    width: 6% !important;
    justify-content: center;
    height: auto;
    background-color: lightgray;
    border: 1px solid darkgray;
}

.pixel-hover {
    background-color: #4c4c4c;
}

.transition-in {
    transition-duration: 0s;
}

.transition-out {
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}